body{
    height: auto;
}

.main{
    width: 90%;
    border: 1px solid black;
    position:relative;
    left: 50%;
    transform: translate(-50%);
    height: auto;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#bpm{
    position:relative;
    text-align: center;
    display: block;
    margin: 5px;
    font-weight: bold;
}

.rightbox{
    position: absolute;
    width: 25%;
    right: 30px;
    padding: 15px;
    display: block;
    border: black;
}

.container {
    width: 18.5%;
    height: 200px;
    position: relative;
    margin-left: 30px;
    padding: 15px;
    border: black;
}

.container2 {
    width: auto;
    height: auto;
    position: relative;
    margin-left: 30px;
    display: inline-block;
    padding: 15px;
    border: black;
}

.controls{
    margin-top: 5px;
    position: absolute;
    bottom: inherit;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
    padding: 15px;
    border: black;
}

.mainmat{
    width: 75%;
    height: 604px;
    margin-top: inherit;
}

legend {
    font-size: 20px;
    font-weight: bold;
}

.learnbutton{
    display: inline-block;
    position: relative;
    margin-top: 50px;
}

#learn{
    position: absolute;
    top: inherit;
    right: 15px;
}

.topsnap{
    top: 0px;
    margin-top: 40px;
}

.aligned{
    align-items: center;
    display: flex;
}

.drum-matrix {
    border-spacing: 5px;
    height: 100px;
    table-layout : fixed;
    width: 100%;
    position: relative;
}

#drum-matrix{
    top: 50px;
}

#drum-matrix2{
    top:150px;
}

#drum-matrix3{
    top:250px;
}

.Beat.notArmed{
    border: 1px solid #c5c5c5;
	background: #a0a0a0 url("theme-bckg-images/ui-bg_highlight-soft_30_a0a0a0_1x100.png") 50% 50% repeat-x;
  }

.Beat.notArmed.hover{
    border: 1px solid #f2f2f2;
	background: #e0e0e0 50% 50% repeat-x;
  }

.Beat.armed{
    border: 1px solid #c1e4f0;
    /*background: #59b4d4  90% 10% repeat-x;*/
    background: #85c8e0  90% 10% repeat-x;
  }

.Beat.armed.hover{
    border: 1px solid #d3f4ff;
    background: #b3e7f9 50% 50% repeat-x;
  }

.subbeat.notArmed{
    border: 1px solid #999999;
	background: #555555 url("theme-bckg-images/ui-bg_highlight-soft_30_555555_1x100.png") 50% 50% repeat-x;
}

.subbeat.notArmed.hover{
    border: 1px solid #a6a6a6;
	background: #808080 50% 50% repeat-x;
}

.subbeat.armed {
    border: 1px solid #ffbf80;
    background: #ffa64d 50% 50% repeat-x;
  }

.subbeat.armed.hover {
    border: 1px solid #ffe6cc;
    background: #ffcc99 50% 50% repeat-x;
  }

.hidden {
  visibility: hidden;
}

.upperspace{
    margin-top: 13px;
}

.startstop{
    margin-top: 13px;
}
.golearn{
    margin-top: 15px;
    font-size: 12px;
}

.resetButton {
    position: absolute;
    display: inline-block;
    right: 15px;
    bottom: 15px;
}

.box1{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    border: black;
}

.box1.boxR{
    right: 15px;
    position: absolute;
    border: black;
}

.box1.boxL{
    position: relative;
    align-items: center;
    right: auto;
    border: black;
}

.timesig{
    margin-bottom: 5px;
}







